

.contact-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('https://images.pexels.com/photos/2325446/pexels-photo-2325446.jpeg') no-repeat center center/cover;
    filter: blur(5px);
    z-index: -1;
}

/*-------------------------------------------------navigation----------------------------------------------*/


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    z-index: 100;
    background: transparent; 
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
}
.navbar.sticky {
    background-image: url(https://images.pexels.com/photos/7368308/pexels-photo-7368308.jpeg);
    padding: 10px 15%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active-link {
    color: aqua;
}

/* -------------------------------------------------------contact form---------------------------------------------- */
.contact-section {
    padding: 50px 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 100%;
    max-width: 800px;
    background: rgba(1, 1, 1, 0.5); 
    padding: 40px;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.form-header {
    color: #f1f4f4;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    margin-top: 10px;
}

.form-header i {
    margin-right: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease;
}

.input-box label {
    color: #ccc;
    font-size: 0.9rem;
    margin-bottom: 8px;
    font-weight: 500;
}


.input-box input, 
.input-box textarea {
    width: 100%;
    padding: 12px 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

.input-box input:focus, 
.input-box textarea:focus {
    border-color: aqua;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

.input-box.full-width {
    width: 100%;
}

/* -------------------------------------------------------One Way / Return --------------------------------------------*/
.trip-type-wrapper {
    margin-bottom: 20px;
}

.radio-group {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    user-select: none;
}


.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
    background-color: aqua;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
}


.submit-btn {
    width: 100%;
    padding: 15px;
    background: aqua;
    border: none;
    border-radius: 50px;
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

.submit-btn:hover {
    background: #fff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.3);
}


input[type="date"] {
    color-scheme: dark;
}


@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
        gap: 15px;
    }
    
    .form-container {
        padding: 20px;
    }
}